
<ul>
  <% @articles.each do |article| %>
      <li>
        <tr>
          <td><%= article.title %></td>
          <td><%= link_to 'Read Article', article_path(article) %></td>
        </tr>
      </li>
  <% end %>
</ul>

